body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#head, #body_parent, #workout_chart, #bot {
    width: 100%;
}


/**************************** HEAD *******************************/
#head {
    display: flex;
    height: auto;
    width: 100%;
    text-align: start;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10vh
    
}

#head_text, #cd{
    display: block;
    width: 100%;
    text-align: center;
}

#head_text {
    margin-top: 1rem;
    font-size: 8rem;
}

#cd {
   font-size: 3rem
}

/************************* Body_parent ***************************/

#body_parent {
    display: flex;
    flex-wrap: wrap;       /* allows children to go to next row */
    justify-content: center;
    gap: 2rem;     
    align-items: flex-start; /* keeps stacked items at top */

}

.titles{
    font-size: 2.5rem;
    transform: translateY(2rem);
}

#top{
    display:flex;
    width: 50%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    transform:translateX(-1.25rem)
}

/**************************** Calc *******************************/

#calculator_parent{
    height: 14rem;
    margin-top: 1rem;
}

#time_parent{
    display: flex;
    width:18rem;
    font-size: 1.5rem;
}
#min{
    width:2rem;
    margin-left: 0.5rem;
}

#sec{
    width:2rem;
    margin-left: 0.5rem;
}

#calculate{
    margin-top: 1rem;
    height:3em;
    width: 10rem;
    text-align: start;

}

.txt{
    font-size: 1.5rem;
}   

#eventSelector{
    height:2rem;
    transform: translateY(-0.2rem);
}

#min{
    height: 1.5rem
}

#sec{
    height:1.5rem
}
/**************************** Conv *******************************/

#conversion_parent{
    margin-left: 1rem;
    height: 15rem;
    width: 18rem;
    clear:both;
    margin-top: 1rem;
}


#dist_table{
    width: 20rem;
    height: 20rem;
    border-collapse: collapse;
}

.c_event{
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    width:3rem;
    font-size: 1.5rem;
}
.c_time{
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    text-align: end;
    font-size: 1.5rem;
}

/**************************** wotb *******************************/

#workout_chart{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15rem;
}
#wo_table{
    width: 40rem;
    border-collapse: collapse;
    transform:translateX(-0.45rem)
}

#t_t{
    border-style: solid;
    border-width: 2px;
}
.pace{
    width:5rem;
    border-style: solid;
    border-width: 2px;
} /*top format*/    

.w_type{
    font-size: 2rem;
    border-style: solid;
    border-width: 2px;
}
.w_pace{
    text-align: end;
    height: 3rem;
    width:5rem;
    border-style: solid;
    border-width: 2px;
    font-size: 2rem;
}

/**************************** bot *******************************/
#bot{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height:1.5rem;
   
}


